#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-container {
  width: 50%;
}

header {
  text-align: center;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.add-items {
  width: 100%;
}

.add-items-btns-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #bdbdbd;
  margin: 1em auto;
}

.item-btns {
  all: unset;
  text-align: center;
  padding: 1em;
  color: #333333;
}

.item-btns:hover {
  cursor: pointer;
}

.active {
  border-bottom: 3px solid red;
}

form {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.add-item-btn {
  background-color: #2f80ed;
  border-radius: 10px;
  width: 100px;
  border: 0;
  color: white;
}

.add-item-btn:hover {
  cursor: pointer;
}

.input-add-items {
  width: 80%;
  height: 50px;
}

.list-items-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 1em;
}

.list-items {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.item {
  width: 90%;
}

.input-check {
  margin-right: 1em;
}
.fas:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.hide {
  display: none;
}
